# Audio Machine Learning
## Worksheet - Operators and Iterators
-----

Welcome! In this notebook, you'll learn about some more Python Operators, as well as Python Lists and iteration.

There are weekly computer lab sessions, 11:10-13:00 on Fridays in Computer Lab B.51, Hugh Robson Building. To get the most out of these sessions, I **strongly** recommend you work through the worksheet in your own time before attending the session.

## 1 - Python Operators
### 1.1 - Arithmetic Operators
In the previous Worksheet we looked at the `+` operator. Adding two integers together performs addition as you would expect, i.e

In [1]:
print(2+2)

4

---
### âœï¸âœï¸ Exercise 1: Variable and Literal Refresher âœï¸âœï¸
---

Add two integer literals together using the `+` operator, and assign the resulting value to a variable called 'new_integer'

In [1]:
# Your code here!
new_integer = 5 + 1

In [2]:
# Run this cell to check that the newly created variable is an integer
assert type(new_integer) == int

---

The objects that appear on either side of the operator (the literal `2` in the above example) are called `operands`. The operands can be literals or variables.


The behaviour of the operator depends on the data type of operands. For example, you can also add strings together, i.e:

In [2]:
print('Hello' + ' ' + 'World!')

Hello World!

That is because the `+` operator supports string type operands. However, see what happens if you try to subtract two strings:

In [3]:
print('Hello' - 'World!')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

This should have thrown a `TypeError`, including a message which tells you why the error occured. The message informs you that the `-` operator doesn't support operands of the type 'str'. 

Make sure you read the error type and message - this information is very useful when you are debugging code!

---
### âœï¸âœï¸ Exercise 2: Testing Operands and Operators âœï¸âœï¸
---
Find out what happens for the following combinations of operator and operands:
1. Operator: `+`, Operands: `float`, `integer`
2. Operator: `*`, Operands: `integer`, `integer`
3. Operator: `*`, Operands: `string`, `integer`
4. Operator: `**`, Operands: `integer`, `integer`
5. Operator: `/`, Operands: `integer`, `integer`
6. Operator: `%`, Operands: `integer`, `integer`
7. Operator: `//`, Operands: `integer`, `integer`


For each of the above, what operation is being performed? What is the data type of the result?

In [ ]:
float_ = 1.41
string_ = "help"
int_ = 2

---

### 1.2 - Assignment Operators
We have looked at the basic assignment operator `=`, which is used to assign some data to a variable.

In [ ]:
x = 5 # This assigns the integer 5 to a variable called 'x'

There are a few other assignment operators, the most commonly used are:
- `+=`
- `-=`
- `*=`
- `/=`

These operators allow you to change the value of an existing variable, for example:

In [4]:
x = 5
print(f'x is equal to: {x}')
x += 10
print(f'x is now equal to: {x}')

x is equal to: 5
x is now equal to: 15

---
### âœï¸âœï¸ Exercise 3: Assignment Operators Game âœï¸âœï¸
---

You are using variables to track the attributes of a character in a game. The character has 'experience', 'gold', and 'health'. Use the special assignment operators introduced above to adjust these variables as follows:

In [ ]:
# Initial Attributes
health = 100
xp = 0
gold = 10

# The character loses 20 health
# Your code, using the '-=' operator

# The character gains 50 experience points
# Your code, using the '+=' operator

# The character loses exactly half of their remaining health
# Your code, using the '/=' operator, ensure the result is still an integer!

# The character wins a bonus that gives them 2 gold for every experience point they have
# Your code

Run the below cell to check your answers. If the variables have the correct values assigned it will print 'Correct!'

In [ ]:
assert health == 40, 'health is not correct!'
assert xp == 50, 'xp is not correct!'
assert gold == 110, 'gold is not correct!'

print('Correct!')

---

### 1.3 - Comparison Operators
Comparison operators are used to compare operands. Here are the most commonly used comparison operators:
- `>` (greater than)
- `<` (less than)
- `==` (equal to. Remember that it uses two equal signs!)
- `!=` (not equal to)
- `>=` (greater than or equal to)
- `<=` (less than or equal to)

Comparison operators always return one of two values, either `True` or `False`. The type of this value is called a `Boolean`. A `Boolean` always represents either `True` or `False`.

You can create a `Boolean` using the special Python keywords, `True` or `False`.

In [5]:
a_bool = True
type(a_bool)

bool

You can also create a `Boolean` using a comparison operator. For the following expression, what do you think will be assigned to the variable called `y`?:

In [6]:
y = 2==3

You can check by printing the value of `y` using `print(y)`

In [7]:
print(y)

False

---
### âœï¸âœï¸ Exercise 4: Equality Operator âœï¸âœï¸
---

Using the 'equal to' `==` operator, create a variable called z which holds the Boolean `True`

In [2]:
z =  1 == 1

In [3]:
# Run this cell to check your answers.
assert type(z) is bool , f'z is type {type(z)}, when it should be not type {type(True)}, instead!'
assert z is True, 'z is not True!'
print('Correct!')

Correct!

---

### 1.4 - Logical Operators
In Python, `or`, `and` and `not` are `logical operators`
These are operators that allow you to combine conditional statements.

`and`: `True` if both conditions are `True`

`or`: `True` if at least one condition is `True`

`not`: inverts a boolean (`True` â†’ `False`, `False` â†’ `True`)

Here is an example:

In [5]:
x, y = 5, 12  #This is a way to quickly create multiple variables in one line!

Below is an example of the `and` operator, try and predict what the result will be before running the cell.

In [6]:
(x > 3) and (y < 20)

True

Below is an example of the `or` operator, try and predict what the result will be before running the cell.

In [7]:
(x < 3) or (y < 20)

True

Below is an example of the `not` operator, try and predict what the result will be before running the cell.

In [8]:
not (x == 5)

False

---
### âœï¸âœï¸ Exercise 5: Using Logical Operators âœï¸âœï¸
---
For each of the logical operators, `or`, `and` and `not`:
- write a statement that evaluates to `True`
- write a statement that evaluates to `False`

In [11]:
and_True = True and True

In [12]:
# Run this cell to check your answer
def checker(answer, logical_op, target_bool):
    assert answer is target_bool, f'{logical_op}_{target_bool} should contain {target_bool} but instead contains {answer}'
checker(and_True, 'and', True)

In [13]:
and_False = False and False

In [14]:
# Run this cell to check your answer
checker(and_False, 'and', False)

In [15]:
or_True = 5 > (1 or 2)

In [16]:
# Run this cell to check your answer
checker(or_True, 'or', True)

In [17]:
or_False = 5 < (1 or 2)

In [18]:
# Run this cell to check your answer
checker(or_False, 'or', False)

In [23]:
not_True = not 5 == 4

In [24]:
# Run this cell to check your answer
checker(not_True, 'not', True)

In [25]:
not_False = not 5 == 5

In [26]:
# Run this cell to check your answer
checker(not_False, 'not', False)

## 2 - Lists
We touched on Lists last week. Lists in Python are ordered collections that can store multiple values in a single variable. They are **mutable**, meaning we can change their elements after creation.

#### Creating Lists
We can create lists using square brackets `[]`:

In [13]:
# A simple list
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [14]:
# A list of strings
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

Lists can also contain different types:

In [15]:
mixed = [1, "hello", 3.14, True]
print(mixed)

[1, 'hello', 3.14, True]

#### Accessing Elements
You can access an element in a list using `indexing`, which is achieved using square brackets as follows:

In [16]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])   # First element
print(fruits[-1])  # Last element

apple
cherry

#### Modifying Lists
You can change elements or add/remove them:

In [17]:
fruits[1] = "blueberry"     # Replace an element
fruits.append("orange")     # Add at the end
fruits.insert(1, "kiwi")    # Insert at a position
fruits.remove("apple")      # Remove by value
print(fruits)

['kiwi', 'blueberry', 'cherry', 'orange']

---
### âœï¸âœï¸ Exercise 6: Modifying a List âœï¸âœï¸
---
Modify the following list, it should contain the first 6 letters of the alphabet, in order:

In [27]:
alphabet = ['a', 'b', 'd', 'f', 'g'] #Add/remove letters as required

alphabet.insert(2,"c")
alphabet.insert(4,"e")
alphabet.remove("g")

In [28]:
# Run this to check your answer
correct_alphabet = ['a', 'b', 'c', 'd', 'e', 'f']
for i, letter in enumerate(alphabet):
    assert letter == correct_alphabet[i], f'element {i} is {letter}, when it should be {correct_alphabet[i]}'

---
#### Common List Operations
Here are some common list operations:

In [18]:
numbers = [10, 20, 30, 40]

# Length of the list, using len()
print(len(numbers))

# Check if an item is in the list
print(20 in numbers)

# Slicing
print(numbers[1:3])  # From index 1 up to (but not including) 3

# Slicing
print(numbers[:])  # All indices of the list

4
True
[20, 30]
[10, 20, 30, 40]

#### Nested Lists

The elements of a List can be any data type, including other Lists!

In [32]:
matrix = [[1,2,3], [4,5,6], [7,8,9]]
print(matrix[0][1])

2

---
### âœï¸âœï¸ Exercise 7: Create and Access Lists âœï¸âœï¸
---
Create and Access Lists:
- Create a list of 5 songs and print the first and last.
- Create a list with numbers 1 to 10 and print the first three elements using slicing.

In [34]:
# Your code here
songs = [
     "Song_1"
    ,"Song_2"
    ,"Song_3"
    ,"Song_4"
    ,"Song_5"
]

print(songs[0])
print(songs[4])

n = 10
numbers = list(range(1,n+1))

Song_1
Song_5

In [37]:
print(numbers[0:3])

[1, 2, 3]

---
### âœï¸âœï¸ Exercise 8: More List Modification âœï¸âœï¸
---
Start with a list: colors = ["red", "green", "blue"] and do the following:
- Replace "green" with "yellow".
- Add "purple" at the end.
- Remove "red".
- Print the final list.

In [ ]:
colors = ["red", "green", "blue"]
# Your code here

---
### âœï¸âœï¸ Exercise 9: Nested Lists âœï¸âœï¸
---

Create a nested list representing a 2D grid:

$$\begin{bmatrix} 0 & 1 & 2 \\ 3 & 4 & 5 \\ 6 & 7 & 8 \end{bmatrix}$$

In [39]:
# Create your nested list here, this should be a list of lists!
nested_list = [[1,2,3],[4,5,6],[7,8,9]]

nested_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Print the center value (4).

In [41]:
# Your code here
print(nested_list[1][1])

5

Change the bottom-right value (8) to 99.

In [42]:
# Your code here
nested_list[2][1] = 99

In [43]:
nested_list

[[1, 2, 3], [4, 5, 6], [7, 99, 9]]

---
## 3 - For Loops

A **for loop** allows you to repeat a block of code for each element in a collection (like a list).

#### Basic For Loop

In [44]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

#### Using `range()` with for loops
The `range()` function generates a sequence of numbers.

In [45]:
for i in range(5):
    print(i)

0
1
2
3
4

#### Looping with Index
Use `enumerate()` to get the index and value:

In [46]:
for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")

Index 0: apple
Index 1: banana
Index 2: cherry

#### Nested Loops
Example with a 2D list:

In [47]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
for row in matrix:
    for item in row:
        print(item, end=" ")
    print()

1 2 3
4 5 6
7 8 9

### âœï¸âœï¸ Exercise 10: For Loop Practice âœï¸âœï¸
1. Create a list of 5 animals and use a for loop to print each of them in turn
2. Use a `for` loop to print numbers from 1 to 10, but only if they are even.

In [49]:
from ast import mod

animals = ["tiger","lion","monkey","prawn","lobster"]

for a in animals:
    print(a)

for i in range(1,11):
    if i % 2 == 0:
        print(i)

tiger
lion
monkey
prawn
lobster
2
4
6
8
10

# Summary and Questions

**After completing this worksheet, you should be able to:**
- Use Python operators:
    - Arithmetic: +, -, *, /, //, %, ** (and know the result types)
    - Assignment: +=, -=, *=, /= to update variables in place
    - Comparison: >, <, ==, !=, >=, <= and logical and/or/not to combine conditions
- Create and modify lists (append, insert, replace, remove), index and slice them.
- Write for loops (including nested loops) and use range(...) and enumerate(...) to iterate cleanly.
- Read and act on error messages (TypeError, IndexError, SyntaxError, IndentationError).

**Self-check questions** (if you are stuck on any of these, ask me in the lab session! Try and think about what the answer will be before checking.):
- What is the difference between `/` and `//` in Python?
- What does `'ha' * 3` evalaute to?
- What does `[1,2+3]` evaluate to?
- What is the value and type of `7%3`
- What is the value and type of `7/3`
- Write one expression that evaluates to `True`, and one that evaluates to `False`
- Given the list `nums = [10,20,30,40,50]`, what slice returns the second and third elements of the list?
- For the following code, can you determine what the output will be, without running the code?:

```values = [5, 1, 4, 4, 2]
    total = 0
    for v in values:
        if v % 2 == 0:      # even
            total += v
        else:               # odd
            total -= 1
    print(total)```

# ðŸŽ¯ðŸŽ¯ Challenges! ðŸŽ¯ðŸŽ¯

The `Challenges` section asks you to apply what is covered in the worksheet. I **Strongly** recommend you try and complete these challenges on your own! The best way to test if you've understood the content is to try and apply it.

## 1 - Fix the Errors: Scores Analyzer
- The below code has some errors in it. This is very common when writing your own code, so you should practice understanding and fixing errors!
- You can try and spot the errors yourself, or you can just run the code and see what happens. If the error causes the program to crash, it will include an error message that should help you in figuring out why the error has occured.

In [63]:
# This program should iterate over each in the 'scores' list, boost them all by +5, clamp them to be no larger than 100, count the number of passes (>=50),
# and print the average and pass rate. It contains multiple errors, can you fix them?

scores = [42, 72, 98, 38, 60]

def boost_and_report(scores):
    boosted_score = [0]*len(scores)
    total = 0
    passes = 0
    for i,s in  enumerate(scores):
        s = s + 5
        if s > 100:
            s = 100
        
        boosted_score[i] = s

        if s >= 50:
            passes += 1
        total += s
    return {
    "scores": boosted_score,
    "total": total,
    "passes": passes
    }

   

boosted_report = boost_and_report(scores)
average =  boosted_report["total"]/ len(scores)

print(f"Average after boost: {average}")
print(f"Pass rate: {boosted_report["passes"]/len(scores)*100}%")


print("Boosted scores:", boosted_report["scores"])

Average after boost: 66.4
Pass rate: 60.0%
Boosted scores: [47, 77, 100, 43, 65]

In [ ]:
boost_and_report(scores)

{'scores': [47, 77, 100, 43, 65], 'total': 332, 'passes': 3}

## 2 - Calculating the Error

The below code block contains two lists, one representing six target values (`target`), and one representing a machine learning model's prediction for each of those six values (`pred`).

In the loss_calculation function below, create a for-loop that iterates over these lists. The function should return the following:
- The index and value of the smallest absolute error
- The index and value of the largest absolute error
- The average L1 loss (MAE): mean of absolute errors
- The average L2 loss (MSE): mean of squared errors

You should do this using a single for-loop, and without using any external libraries.

In [ ]:
y_true = [0.32, 0.65, 0.47, 0.73, 0.86, 0.16]
y_pred  = [0.11, 0.42, 0.64, 0.87, 0.43, 0.20]

def loss_calculation(truth, pred):
    abs_error = [0]*len(y_true)
    for i, (x,y) in enumerate( zip(truth,pred)):
        abs_error[i] = abs(x- y)

    smallest_abs_error = min(abs_error)
    smallest_abs_error_index = abs_error.index(smallest_abs_error)
    print(f"The smallest abs error is {smallest_abs_error:.2f} at index {smallest_abs_error_index}")

    largest_abs_error = max(abs_error)
    largest_abs_error_index = abs_error.index(largest_abs_error)
    print(f"The largest abs error is {largest_abs_error:.2f} at index {largest_abs_error_index}")

    L1_loss = sum(abs_error) / len(abs_error)
    L2_loss = sum(e**2 for e in abs_error) / len(abs_error)

    print(f"The L1 loss is {L1_loss:.2f}")
    print(f"The L2 loss is {L2_loss:.2f}")



result = loss_calculation(y_true, y_pred)
print(result)

The smallest value is 0.04 at index 5
The largest value is 0.43 at index 4
The L1 loss is 0.20
The L2 loss is 0.06
None